.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.header {
  height: 5rem;
  background-color: #DDAE4C;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}


.headerLeft {
  height: 100%;
  float: left;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.headerRight {
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #05313f;
}

.headerRight div {
  margin: 0 1.5rem;
}

.headerImg {
  float: left;
}

.headerName {
  text-transform: uppercase;
  font-size: 2em;
  margin-left: 0.5em;
}


.mainBody {
  flex: 1 1 auto;
  height: 100%;
  background-color: #05313F;
  /* 5rem for header, 3 rem for footer, 3 more somewhere?? */
  /*height: calc(100vh - 11rem);*/
  color: white;
  padding-bottom: 3rem;

  text-align: center;
}

.mainBody .getStarted {
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
}

.mainBody .mainCameraOutsideBorder {
  border: 2px solid #C4E4DD;
  width: 315px;
  height: 315px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 50%;
}

.mainBody .mainCamera {
  background: #C4E4DD;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 7px; /* push the camera "down" half of the extra diameter of the border */

  display: flex;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.footer-container {
  /*position: relative;*/
  /*bottom: 0;*/
  width: 100%;

  background-color: #C4E4DD;
  text-align: center;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #365B64;
}


@media all and (max-width: 750px) {

  .indexHeader .headerLeft {
    height: 60%;
  }

  .header {
    height: 5rem;
  }

  .indexHeader {
    height: 10rem;
  }

  .headerRight {
    height: 30%;
  }
}
