.prints {
  margin-top: 2em !important;
  margin-bottom: 2em !important;

  display: flex;
  flex-direction: row;

}

.postcardPrintGraphic {
  flex: 2;
}

.four-inches {
  position: absolute;
  left: 8%;
  top: 50%;
}

.six-inches {
  position: absolute;
  bottom: 3%;
  left: 25%;
}

.postcardPrintExplanation {
  flex: 2;

  text-align: left;
}

.postcardPrintDetail {
  display: flex;

  font-size: 18px;
	font-weight: 600;
	line-height: 1.67;
	text-align: left;
	color: #ffffff;
	color: var(--white);
}

.postcardPrintDetail div {
  margin-right: 0.5em;
}

.postcardPrintDetail .key {
  color: var(--dull-orange);
}
