.AddressBook {
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  top: 5rem;
  left: 0;
  background: var(--dark-teal);
  overflow: scroll;
}

.AddressBook-list .Address {
  width: 100%;
}

.AddressBook-Header {
  display: flex;
  justify-content: space-around;
}
