.Address {
  margin: 1em;
}

.inputGroup {
  margin: 1em;
}

.inputGroup label {
  display: block;
  font-size: 0.5em;
  text-transform: uppercase;
}

.inputGroup input {
  border: 1px solid gray;
  height: 3em;
  width: 100%;
}
