.primaryButton {
  text-transform: uppercase;
  background-color: white;
  color: #05313F;
  height: 4rem;
  width: 280px;

  font-weight: 600;
  letter-spacing: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 1rem;

  border-radius: 40px;
}
