.AppHeader {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.headerLink {
  display: flex;
  align-items: center;
  color: white;
}
