<html>

<head>
  <title>Lob.com Sample 4x6 Postcard Front</title>

  <style>
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'Loved by the King';
    font-style: normal;
    font-weight: 400;
    src: url('https://s3-us-west-2.amazonaws.com/lob-assets/LovedbytheKing.ttf') format('truetype');
  }

  body {
    width: 6.25in;
    height: 4.25in;
    margin: 0;
    padding: 0;
    /* If using an image, the background image should have dimensions of 1875x1275 pixels. */
    background-image: url(<%= front_photo_url %>);
    background-size: 6.25in 4.25in;
    background-repeat: no-repeat;
  }
  .text {
    margin: 50px;
    width: 400px;
    font-family: 'Loved by the King';
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px black;
  }
  </style>
</head>

<body>
</body>

</html>
