.PostcardMessageInput--Container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.PostcardMessageInput {
  height: 45vh;
  border: 1px solid gray;
  font-size: 16px;
}
