.PostcardMessageInput--Container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

textarea.PostcardMessageInput {
  height: 300px;
  width: 300px;
  border: 1px solid gray;
  font-size: 16px;

}
