.fontSelect {
  height: 3rem;
  margin: 1rem 3rem;
}

.fontSizeSelect {
  height: 3rem;
  margin: 1rem 3rem;
}


.fontSelect-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.liveUpdate-inputGroup {
  display: flex;
  flex-direction: column;

}

@media all and (max-width: 768px) {
  .fontSelect-container {
    flex-direction: row;
  }

  .fontSelect {
    margin: 0.5rem;
  }

  .fontSizeSelect {
    margin: 0.5rem;
  }
}
