.postcard-live-preview *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.postcard-live-preview .card {
  position: relative;
  width: 6.25in;
  height: 4.25in;
  margin: 0;
  padding: 0;
  /* If using an image, the background image should have dimensions of 1875x1275 pixels. */
  /*background-image: url(https://s3-us-west-2.amazonaws.com/lob-assets/beach.jpg);*/
  background-color: white;
  background-size: 6.25in 4.25in;
  background-repeat: no-repeat;
}

.postcard-live-preview #safe-area {
  position: absolute;
  width: 5.875in;
  height: 3.875in;
  left: 0.1875in;
  top: 0.1875in;
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
}

.postcard-live-preview #ink-free {
  float: right;
  width: 3.2835in;
  /*height: 2.375in;*/
  height: 2.5in;
  /*background-color: red;*/
  clear: right;
}

.postcard-live-preview .text {
  white-space: pre-wrap;
  margin: 10px;
  width: 5.5in;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.postcard-live-preview #spacer {
  float: right;
  width: 0;
  height: 1.25in;
}

.postcard-live-preview #logo {
  position: absolute;
  bottom: 0.25in;
  left: 0in;
}
