.messagePageContent {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media all and (max-width: 768px) {
  .messagePageContent {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
}
